/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --colorPrimary: #6d7bfa;
  --colorSecondary: white;
  --colorDisabled: #dcdcdc;
  --colorTerciary: #a0a9f8;
  --colorQuartary: #eff1ff;
  --colorText: #222;
}

/* ---- typography ---- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700&display=swap');

body {
  color: var(--colorText);
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

p {
  margin: 0;
}


/* --- Container --- */
.container {
  min-height: 100vh;
  height:100%;
}

.data-container {
  min-height: 100vh;
  height:100%;
  text-align: center;
  background-color:var(--colorQuartary);
}


/* --- Nav --- */

.nav-container {
  position: fixed;
  bottom: -10vh;
  -webkit-animation: slide-top 0.5s ease-in forwards;
	animation: slide-top 0.5s ease-in forwards;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
}

nav {
  width: 100vw;
  background: white;
  position: relative;
  box-shadow: 0 30px 40px 30px rgba(82, 93, 193, 0.15);
  border-radius: 30px 30px 0 0;
}

nav ul {
  flex-direction: row;
  padding-inline-start: 0;
  list-style: none;
  justify-content: space-around;
  height: 10vh;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 12px;
  padding-top: 5px;
}

nav ul li {
  margin:0;
  text-align:center;
}

nav ul li a{
  text-decoration:none;
  color:var(--colorPrimary)
}

nav ul li a img {
  width:4.5vh;
  margin:0 auto 5px auto;
  display:block;
}


/* --- Buttons --- */

.btn {
  width: 80vw;
  min-height: 70px;
  border-radius: 8px;
  box-shadow: 0 10px 20px -10px var(--colorPrimary);
  font-size: 1.5em;
  margin: 0 auto;
  display: block;
}

.btn-primary {
  color: var(--colorSecondary);
  background-color: var(--colorPrimary);
  font-weight: 300;
}

.btn-disabled {
  color: var(--colorSecondary);
  background-color: var(--colorDisabled);
  box-shadow: none;
  border:none;
}

.add {
  margin-top:15px;
  display:block;
}

.cancel {
  margin-top:25px;
  display:block;
}


/* --- Loading --- */

.loading{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%); 
}
.circle{
  display: inline-block;
  margin-right:5px;
  width: 15px;
  height: 15px;
  background-color: var(--colorPrimary);
  border-radius: 50%;
  animation: loading 1.5s cubic-bezier(.8, .5, .2, 1.4) infinite;
  transform-origin: bottom center;
  position: relative;
}

@keyframes loading{
  0%{
    transform: translateY(0px);
    background-color: var(--colorTerciary);
  }
  50%{
    transform: translateY(50px);
    background-color: var(--colorPrimary);
  }
  100%{
    transform: translateY(0px);
    background-color:  var(--colorTerciary);
  }
}
.circle-1{
  animation-delay: 0.1s;
}
.circle-2{
  animation-delay: 0.2s;
}
.circle-3{
  animation-delay: 0.3s;
}
.circle-4{
  animation-delay: 0.4s;
}
.circle-5{
  animation-delay: 0.5s;
  margin-right:0;
}
/* .circle-6{
  animation-delay: 0.6s;
}
.circle-7{
  animation-delay: 0.7s;
}
.circle-8{
  animation-delay: 0.8s;
} */


/* --- Login / Signup --- */

.log-sign-container{
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

/* --- Discover Map --- */

.spot-marker  img{
max-width:50px;
}

.close-layer {
  width: 100%;
  height: 92vh;
}

.spot-popup-container {
  width:60vw;
  max-width:250px;

}

.spot-popup-title p{
  margin:0;
  padding:10px;
  font-size:18px;
  text-align:center;
  font-weight:bold;
}

.spot-popup-container .mapboxgl-popup-content{
  padding:0;
  border-radius: 10px;
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-content{
  border-radius: 10px 10px 10px 0px;
}

.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-content{
  border-radius: 10px 10px 0px 10px;
}

.mapboxgl-ctrl-bottom-left {
  display:none;
}

.spot-popup-image img {
  width: 60vw;
  height: 25vh;
  max-width: 250px;
  display: block;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.heart-icon {
  position:absolute;
  right:20px;
  top: 20px;
  cursor:pointer;
}

.heart-icon.true svg {
  fill:var(--colorQuartary);
}

.heart-icon.false svg {
  fill:white;
  /* stroke-linecap:round; */
}

.mapboxgl-popup {
  z-index:1;
}

/* --- Add Trip Map --- */

.trip-map {
  height:51vh;
  border-bottom: 5px solid var(--colorPrimary);
}

.trip-map .mapboxgl-ctrl-top-left .mapboxgl-ctrl {
  margin: 2vh 5vw;
  width: 90vw;
}

.trip-map .mapboxgl-ctrl-geocoder--input {
  font-family: RobotoMono, monospace;
  font-size: 1em;
  /* box-shadow: 0 10px 11px -10px var(--colorPrimary); */
}

.mapboxgl-ctrl:nth-of-type(2), .mapboxgl-ctrl-bottom-right{
  display:none!important;
}

.new-trip input {
  width: 44vw;
  margin: 3vh 2vw;
  font-size: 1.04em;
  border-radius: 8px;
  border: solid 1px var(--colorPrimary);
  height: 6vh;
  padding: 10px;
}

.new-trip input:disabled{
  color: var(--colorDisabled);
  background-color: var(--colorSecondary);
  border-color:var(--colorDisabled);
}

/* --- Cards --- */

.card-container {
  padding-top: 5vh;
}

.card-container .header{
  display: flex;
  padding: 0 4vw;
  align-items: center;
  justify-content: space-between;
}


.card-container .header .title{
  font-size: 1.6em;
}

.card-container .header .add-trip{
  background-color: var(--colorPrimary);
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 36px;
  border-radius: 50%;
  text-decoration: none;
  color: var(--colorSecondary);
  font-weight: bold;
  font-size: 35px;
  cursor:pointer;
}


.scroll-wrapper {
  display: flex;
  overflow-x: scroll;
  margin-top:20px;
}


.scroll-wrapper .card {
  margin-left:4vw;
  position: relative;
  scroll-snap-align: center;
  padding-bottom: 20px;
}

.scroll-wrapper .card img {
width: 50vw;
height:30vh;
border-radius: 10px;
-o-object-fit: cover;
object-fit: cover;
box-shadow: 0 10px 20px -10px rgba(24, 28, 57, 0.3);
}

.scroll-wrapper .card span {
  color: var(--colorSecondary);
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 35px;
  font-size: 20px;
}

.scroll-wrapper .card:last-of-type {
  padding-right:4vw;
}

/* --- Spots --- */

.spot-container  {

}

.spot-container .pad-container {
padding:20px;
}

.spot-container img {
  height: 33vh;
  width: 100vw;
  object-fit: cover;
}

.spot-container p {
  height: 150px;
  text-align: left;
  overflow: hidden;
  font-size: 0.9em;
}