/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

p {
  margin: 0;
}


/* --- Container --- */
.container {
  height: 100vh;
}

.data-container {
  height: 92vh;
}


/* --- Nav --- */
nav {

}

nav ul {
  flex-direction: row;
  padding-inline-start: 0;
  list-style: none;
  justify-content: space-around;
  height: 8vh;
  display: flex;
  align-items: center;
  margin: 0;
}

nav ul li {
  margin:0;
}

nav ul li a img {
  width:5vh;
}